*{
	font-family: Inter;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background: #0d1012;
	color: white;
}
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 24px 240px;
	gap: 24px;
	position: absolute;
	width: 100%;
}
.name{
	font-size: 2rem;
	font-weight: 700;
	padding: 12px 16px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(20px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 16px;
}
nav{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(20px);
	height: 100%;
	padding: 10px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 16px;
}
a{
	color: white;
	text-decoration: none;
	padding: 12px 16px;
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0);
	transition: 0.12s;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px 16px;
}
a:hover{
	background: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.grid{
	background-image:  linear-gradient(#1092c9 1px, transparent 1px), linear-gradient(to right, #1092c9 1px, #1092c950 1px);
	background-size: 32px 32px;
	mask-image: radial-gradient(circle, black 0%, transparent 60%);
	width: 1000px;
	height: 1000px;
	position: absolute;
	z-index: -1;
	border-radius: 100%;
	background-position: center;
	left: 50%;
	top: 0;
	transform: translate(-50%, -50%);
}
main, section{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	gap: 32px;
	padding: 0 240px;
}
.works{
	padding: 192px 24px;
}
main h1, section h1{
	font-size: 4rem;
}
main p{
	font-size: 1.2rem;
	max-width: 50%;
	text-align: center;
}
.cta{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
}
.cta a, .card a{
	background: #1092c912;
	backdrop-filter: blur(20px);
	font-weight: 800;
	border: 1px solid rgba(255, 255, 255, 0.2);
}
.cta a:hover, .card a:hover{
	background: #1092c930;
}
.container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 32px;
	margin-top: 32px;
}
.card{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 24px;
	width: 350px;
	height: 400px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(20px);
	border-radius: 16px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	flex-flow: column;
}
form{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	flex-flow: column;
	width: 100%;
	padding: 12px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	background: rgba(255, 255, 255, 0.05);
	backdrop-filter: blur(20px);
}
.user{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 100%;
}
input{
	width: 50%;
}
textarea{
	min-width: 100%;
	max-width: 100%;
	height: 200px;
	max-height: 300px;
	min-height: 50px;
}
input, textarea{
	padding: 12px 16px;
	border-radius: 12px;
	outline: none;
	background: rgba(255, 255, 255, 0.05);
	border: 1px solid rgba(255, 255, 255, 0.2);
	font-weight: 600;
	transition: background 0.2s, box-shadow 0.2s;
	color: white;
}
input:hover, textarea:hover{
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1);
}
input:focus, textarea:focus{
	background: rgba(255, 255, 255, 0.1);
}
input[type="submit"]{
	background: #1092c980;
	cursor: pointer;
}
input[type="submit"]:hover{
	background: #1092c9;
}
footer{
	padding: 120px 240px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	background: rgba(255, 255, 255, 0.02);
	border-top: 1px solid rgba(255, 255, 255, 0.05);
	gap: 12px;
}
footer .top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 32px;
}
footer .icons{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-size: 1.4rem;
}
footer p a{
	padding: 0;
	display: block;
	border: none;
}
footer p a:hover{
	background: transparent;
	border: none;
	text-decoration: underline;
}
footer p{
	display: flex;
	gap: 12px;
	font-size: 0.8rem;
}
.links, .links a{
	color: #999;
}