*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Space Grotesk";
}
body{
	display: flex;
	height: 100vh;
	background: #111;
}
.main{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
	gap: 12px;
	font-size: 4rem;
	color: #eee;
}
.main h1{
	font-weight: 100;
}
button{
	padding: 8px 12px;
	font-size: 1.2rem;
	border-radius: 4px;
	background: #06d6a055;
	color: #06d6a0;
	border: none;
	cursor: pointer;
	transition: 0.2s;
}
button:hover{
	background: #06d6a077;
}
.upgrades{
	width: 800px;
	overflow: auto;
	border-left: 1px solid #fff3;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-flow: column;
	gap: 12px;
	padding: 12px;
}
.upgrades nav{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	width: 100%;
}
.upgrades nav button{
	width: 100%;
	font-weight: 200;
}
.upgrades nav button:not(.active){
	background: transparent;
	border: 1px solid #fff3;
	color: #fff3;
}
.upgrades nav button:not(.active):hover{
	color: #fff5;
}
.upgrade{
	width: 100%;
	color: #eee;
	display: flex;
	align-items: center;
	border-radius: 4px;
	justify-content: space-between;
	padding: 12px;
	border: 1px solid #fff3;
}
.upgrade .left{
	display: flex;
	align-items: center;
	justify-content: left;
	gap: 12px;
}
.upgrade ion-icon{
	font-size: 2rem;
	color: #bbb;
}
.upgrade button{
	width: 100px;
}
.upgrade h2, .upgrade p{
	font-weight: 200;
}
.upgrade p{
	color: #bbb;
}